# Pasta de build principal do Cabal
dist-newstyle/

# Arquivos temporários do compilador
build/

# Arquivos executáveis compilados (ex: .exe no Windows)
*.exe

# Arquivos de configuração local do Cabal
cabal.project.local
